@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

html{
    font-family: 'Nunito';
    font-size: 12px;
}
body{
    background: linear-gradient(rgba(26, 26, 27, 0.955) ,rgba(26, 26, 27, 0.886)) ,url(Photos/ph7.jpg);
    background-size: cover;
}

section{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 0;
}

.container{
    width: 90%;
    height: auto;
    max-width: 1200px;
    margin: 0 auto;
}

.brand{
    text-align: center;
    font-size: 4rem;
    color: whitesmoke;
    margin-bottom: 30px;
    letter-spacing: 5px;
    text-decoration: underline;
}

form{
    width: 90%;
    max-width: 400px;
    margin: 20px auto;
    background-color: rgb(223, 223, 223);
    border-radius: 10px;
}

form input{
    width: 90%;
    background-color: transparent;
    padding: 10px;
    border: none;
    outline: none;
    font-size: 14px;
}
form ion-icon{
    font-size: 2rem;
    margin: -7px;
    margin-left: 0px;
    cursor: pointer;
    color: rgb(75, 75, 75);
}

.search-result{
    margin-top: 50px;
    width: 100%;
    display: grid;
    grid-gap: 25px;
    grid-template: auto / repeat(auto-fit , minmax(300px,1fr));
}

.item{
    width: 100%;
    border-radius: 8px;
    background-color: rgb(37, 37, 37);
    padding: 15px;
    overflow: hidden;
    transition: 1s ease;
}
.item:hover{
    transform: scale(1.02);
}

.item img{
    width: 100%;
    height: 300px;
    border-radius: 4px;
}

.flex-cotainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item .title{
    color: whitesmoke;
    margin: 20px 10px 0px 0px;
    font-size: 2rem;
    font-weight: 400;
    width: 230px;
}

.view-btn{
    text-decoration: none;
    text-align: center;
    width: 100px;
    color: whitesmoke;
    background-color: #40404184;
    padding: 5px;
    font-size: 13px;
    margin-top:20px;
    align-self: flex-start;
    border-radius: 2px;
    transition: 0.1s ease-in;
}
.view-btn:hover{
    transform:scale(1.05);
}

.item-data{
    color: whitesmoke;
    display: block;
    margin-top: 10px;
    font-size: 1.3rem;
    letter-spacing: 1.5px;
    line-height: 2rem;
}
#dietLabel{
    text-decoration: underline;
}

.initial .brand{
    font-size: 5rem;
}
.initial form{
    max-width: 500px;
}
.initial form input{
    padding: 15px;
    font-size: 20px;
}

@media (max-width: 768px){
    .search-result{
        grid-gap: 10px;
    }
    .initial .brand{
        font-size: 3rem;
    }
    .initial form {
        max-width: 350px;
    }
    .initial form input{
        padding: 10px;
        font-size: 15px;
    }
}